# directories
cache
coverage
node_modules

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock
.vscode

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/

!src/out
src/out/*
!src/out/SimpleStorage.sol/

dist